img{
	float: left;
	
}
header{ 
	background-color:grey;
	border-style: groove;
	/* border: 50px; */
	border-block-end-width: 20px;
	border-block-start-width: 10px;
	border-left: 10px;
	border-right: 10px;
	border-style: solid;
	padding: 40px;
	
	/* 
	margin-right: 20px;
	margin-bottom: 150px; 
	text-align: center;  */
} 
h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
	text-align: center;
	}
h4{
	font-style: italic;
	color: black;
	text-align: center;
}
nav{
	/* margin: 50px; */
	display: inline;
}
 nav ul{
	list-style-type: none;
	padding: 10px 70px;
	margin: 0;
	overflow: hidden;
	display: inline;
 }
 nav li{
	 float: right;
 }
 nav li a{
	 display:block;
	 padding: 20px;
	 color: #fff;
	 /* text-align: center; */
	 text-decoration: none;
	 font-size: 20px
 }
 li a:hover{
	background-color: blue;
	}
	
	* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slideshow-container{
	clear: both;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
	text-align: center ;
}

/* 
  /* footer{ 
	background-color:grey;
	border-style: groove;
	/* border: 50px; */
	border-block-end-width: 20px;
	border-block-start-width: 10px;
	border-left: 10px;
	border-right: 10px;
	border-style: solid;
	}
	

/* li{
	float: right;
}
li a{
	display: block;
	text-align: center;
    color: black;
	padding: 14px 16px;
}
li a:hover{
	background-color: blue;
} */
  */
/* body{
	background-image: url("img/chee\ 2.jpg");
	
background-repeat: no-repeat;
    background-image: url(https://i2.wp.com/goblog.com.ng/wp-content/uploads/2019/04/Gdblog_5.png?fit=1850%2C1233&ssl=1);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;} */ */